@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.bg-cover-custom {
  background-image: url('/images/cover.png');
  background-size: cover;
  background-position: center;
}
h1 , h2 , h3 , h4 , h5 , p, a ,button {
  color: rgb(255, 252, 246);
  font-family: 'Poppins', sans-serif;
}
html {
  scroll-behavior: smooth;
}
a {
  cursor: pointer;
}

.custom-image {
  /* Large shadow with custom RGBA color */
  filter: drop-shadow(0 0px 80px rgba(15, 225, 194, 0.5));
}

#particles
{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  
}